﻿<template>
    <section>
        <h1>TODO</h1>
        <ul class="list-group">
            <li class="list-group-item" repeat.for="category of categories" if.bind="category.IsExpensesCategory">
                <span class="badge">
                    <i class="fa fa-plus"></i>
                </span>
                ${category.Title}
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item" repeat.for="category of categories" if.bind="!category.IsExpensesCategory">
                <span class="badge">
                    <i class="fa fa-minus"></i>
                </span>
                ${category.Title}
            </li>
        </ul>
    </section>
</template>